SECRET_KEY = "secret key for encrypting/decrypting JWT tokens"
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 3600

LOCALHOST = "http://localhost:8000"
USERNAME = "username"
PASSWORD = "password"

TEST_USERNAME = "test_user"
TEST_PASSWORD = "test_password"